         body{
            margin: 0;
        }
        *{
            box-sizing: border-box;
            font-family: 'Source Sans Pro',  Arial, Helvetica, sans-serif;
        }
       .top_nav_bar{
        height: 56px;
        width:  100%;
        background-color: white;
        
        display: flex;
        justify-content: space-between;
        align-items: center;
       }

       .top_nav_item{
        padding: 8px 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        height: 100%;
        border: none;
       }

       .top_nav_item:hover {
        background-color: #04AA6D;
        a{
            color: white;
        }
        }

       .top_nav_bar a{
        display: block;
        text-decoration: none;
        color: black;
        font-size: 16px;
       }

       .menu{
        display: none;
       }

       .logo{
        display: block;
        background-color: white;
        padding: 8px 16px;
        
        height: clamp(3.25rem, 3.154rem + 0.385vw, 3.5rem);
        width: auto;
       }
       .top_nav_bar .logo img{
        height: clamp(2.438rem, 2.293rem + 0.577vw, 2.813rem);
        width: auto;
       }

       .top_nav_bar .search_bar{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
       }

       .search_bar form{
        display: flex;
        align-items: center;
        max-width: 350px;
        width: 100%;
       }
       .search_bar input[type=text]{
        border: 1px solid #ccc;
        padding: 8px 12px;
        border-radius : 20px 0 0 20px;
        width: 80%;
        height: 35px;
        flex: 1;
        border-right: none;
       }
       
       .search_bar button{
        height: 35px;
        width: 50px;
        border: 1px solid #ccc;
        border-left: none;
        border-radius: 0 20px 20px 0;
        background: white;
        color: black;
        cursor: pointer;
       }

       .search_bar button i{
        padding: 2px 8px;
       }

       .search_bar .menu_button img{
        height: 27px;
        width: 27px;
        padding-top: 5px;
        margin-left: 10px;
       }

       .top_nav_bar .tab_right_section{
        display: flex;
        align-items: center;
       }

       .sign_in_button{
        
        height: auto;
        padding: 8px 16px;
        border-radius: 8px;
        background-color: #04AA6D;
        color: #ffffff;
        font-size: clamp(0.75rem, 0.702rem + 0.192vw, 0.875rem);
        line-height: 22px;
        text-align: center;
       }
       .sign_in_button:hover{
        background-color: #146145;
       }

       

       .bottom_nav_bar{
        background-color: #282A35;
        color: #f1f1f1;
        letter-spacing: 1px;
        height: clamp(2rem, 1.976rem + 0.096vw, 2.063rem);
        position: sticky;
        top: 0;
        margin: 0;
        left: 0;
        overflow-y: hidden;
        overflow-x: scroll;
        white-space: nowrap;/* this will wrap the contents in a single line */
       }
       
       .bottom_nav_bar {
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
        }

        .nav_item{
            display: inline-block;
        }

       
       
       .nav_item a{
        text-decoration: none;
        color: #f2f2f2;
        font-size: clamp(0.813rem, 0.764rem + 0.192vw, 0.938rem);
        margin: 0;
        display: inline-block;
        text-align: center;
        padding: 5px 15px 5px 15px;
        line-height: 1.5;
        max-width: 1750px;
       }
        .nav_item:hover{
                background-color: black;
        }
       
       .nav_bar_button a{
        display: flex;
        align-items: center;
        gap: 6px;
        padding: 8px 16px;
        background: white;
        border: none;
        cursor: pointer;
        border-radius: 25px;
        margin-right: 8px;
       }
       .nav_bar_button a:hover{
        background-color: #c9c5c5;
       }

       @media (max-width: 1345px) {
            .spaces_button{
                display: none;
            }
       }
       @media (max-width: 1235px) {
            .upgrade_button{
                display: none;
            }
       }
       @media (max-width: 950px) {
            .certificates{
                display: none;
            }
       }
       @media (max-width: 825px) {
            .search_bar form{
                display: none;
            }
       }
       @media (max-width: 710px) {
            .certified_button , .search_bar a{
                display: none;
            }
       }
       @media (max-width: 690px) {
            .tutorials , .references, .exercises{
                display: none;
            }
            .menu{
                display: flex;
            }
            .search_bar form{
                display: flex;
            }
       }
       @media (max-width: 400px) {
        .search_bar form{
            display: none;
        }
       }


       .nav_bar_button svg {
        height: 16px;
        width: 16px;
       }


       
       .hero_section{
        display: flex;
        background-color: #282A35;
        height: 500px;
        width: 100%;
       }

       .hero_section .hero_center{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #282A35;
       }

       .hero_center_content{
        max-width: 800px;
        text-align: center;
        color: white;
       }
       .hero_center_content h1{
        font-weight: 700;
        font-size: clamp(2.25rem, 1.433rem + 3.269vw, 4.375rem);
        color: white;
        margin-bottom: 20px;
       }
       .hero_center_description{
        color: #FFF4A3;
        font-weight: 700;
        margin-bottom: 40px;
        font-size: clamp(1.313rem, 1.24rem + 0.288vw, 1.5rem);
        text-align: center;
       }

       .hero_form form{
        display: flex;
        width: clamp(2.813rem, -8.125rem + 43.75vw, 31.25rem);
        width: 100%;
        margin: auto;
        padding: 2%;
       }

       .hero_form form input[type=text]{
        border-spacing: 0;
        padding: 12px 20px;
        font-size: clamp(1rem, 0.976rem + 0.096vw, 1.063rem);
        border: 1px solid #282A35;
        border-radius: 25px;
        float: left;
        width: 80%;
        background-color: white;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: 0;
        border-right: 1px solid #04AA6D;
        
       }

       .hero_form form button{
        border-radius: 25px;
        float: left;
        width: 20%;
        padding: 10px;
        background: #04AA6D;
        color: white;
        font-size: 17px;
        border: 1px solid #282A35;
        border-left: none;
        cursor: pointer;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
       }

       .hero_form form button:hover{
        background-color: #096744;
       }

       .hero_form form button i svg{
        height: 16px;
        color: white;
       }

       .hero_ceter_content2 a{
        color: white;
        font-size: clamp(1.25rem, 1.178rem + 0.288vw, 1.438rem);
       }
       .hero_ceter_content2 a:hover{
        color: #FFF4A3;
       }


       .section_container_html{
        margin-top: -10px;
        background-color: #D9EEE1;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
       }
       @media (max-width: 994px) {
        .section_container_html{
            flex-direction: column;
        }
        .section_container_right{
            width: 100%;
        }
       }
       @media (max-width:600px) {
        .section_container_right{
            display: none;
        }
       }

       .section_container_left{
        max-width: 600px;
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        padding-top: 32px;
        padding-bottom: 32px;
       }

       .section_container_left h1{
        text-align: center;
        font-size: clamp(3.75rem, 2.788rem + 3.846vw, 6.25rem);
        font-weight: 700;
        padding-bottom: 0;
        
        margin-bottom: 0;
       }
       .section_container_left p{
        text-align: center;
        font-size: 19px;
        font-weight: 700;
        
       }
       .section_container_left button{
        font-size: 18px;
        margin: auto;
        display: block;
        width: 200px;
        border-radius: 25px;
        padding: 8px 16px;
        border: none;
        cursor: pointer;
       }

       .btn_learn{
        background-color: #04AA6D;
        color: white;
       }
       .btn_learn:hover{
        background-color: #096744;
       }

       .btn_tutorial{
        background-color: #FFF4A3 ;
        color: black;
       }
       .btn_tutorial:hover{
        background-color: #b0a54d ;
       }

       .btn_tutorial_css{
        background-color: #282A35;
        color: white;
       }
       .btn_tutorial_css:hover{
        background-color: black;
       }
       
       .btn_tutorial_js{
        background-color: #E7E9EB;
        color: black;
       }
       .btn_tutorial_js:hover{
        background-color: #9ea6ae;
       }

       .btn_certified{
        background-color: #FFC0C7;
        color: black;
       }
       .btn_certified:hover{
        background-color: #d3a6ab;
       }

       .section_container_right{
        max-width: 600px;
        flex: 1;
        padding: 3%;
    
       }

       .example_box{
        display: flex;
        flex-direction: column;
        background-color: #E7E9EB;
        color: #000;
        padding: 16px;
        border-radius: 5px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
       }

       .snippet_heading{
        margin: 0;
       }
       .snippet_box{
        height: 300px;
        background-color: white;
        border-left: 4px solid #04AA6D;
       }
       .try_it_yourself{
        font-size: 18px;
        margin-top: 15px;
        width: 200px;
        border-radius: 25px;
        padding: 8px 16px;
        border: none;
        cursor: pointer;
        background-color: #04AA6D;
        color: white;
       }
       .try_it_yourself:hover{
        background-color: #059862;
       }




       .learn_containers{
        padding: 64px ;
        background-color: #282A35 ;
        color: white;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px 50px;
        justify-content: center;
       }

       @media (max-width: 994px) {
        .learn_containers{
            grid-template-columns: 1fr;
        }
       }

       .container_card{
        background-color: #282A35;
        
       }

       .card_contents{
        
        color: black;
        background-color: #FFC0C7;
        padding: 24px;
        border-radius: 5px;
       
        text-align: center;
       }
       .card_components h2{
        font-size: 45px;
        font-weight: 700;
       }
       .card_description{
        height: 70px;
        font-size: 18px;
        font-weight: 400px;
       }
       .card_button{
        text-decoration: none;
        font-size: 18px;
        width: 250px;
        border-radius: 25px;
        padding: 8px 24px;
        border: none;
        cursor: pointer;
        background-color: #282A35;
        color: white;
       }
       .card_button:hover{
        background-color: black;
       }

       .grid_1{
        padding: 64px;
        background-color: #282A35;
        color: white;
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px 50px;
       }
        .long_card{
            grid-column: span 1;
        }
        

       @media (min-width: 600px) and (max-width: 993px) {
        .grid_1{
            grid-template-columns: 1fr 1fr;
        }
        .long_card{
            grid-column: span 2;
        }
       }
       @media (min-width: 994px) {
        .grid_1{
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
        .long_card{
            grid-column: span 2;
        }
       }


       .login_signup_container{
        background-color:#D9EEE1 ;
        color: #000;
        padding-top: 65px;
        padding-bottom: 70px;
       }

       .login_signup{
        padding: 3%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 1200px;
        margin: auto;
       }
       .login_signup h1{
        font-size: clamp(2.5rem, 5vw, 4rem);
        font-weight: 700;
        text-align: center;
       }
       .login_signup h4{
        font-size: clamp(1rem, 1.5vw, 1.25rem);
        font-weight: 400;
        text-align: center;
       }
       .login_signup img{
        width: 100%;
        align-self: center;
       }
       .login_signup button{
        align-self: center;
        line-height: 1.5;
       }
      

       .code_editor_container{
        background-color:#282A35 ;
        color: white;
        padding-top: 65px;
        padding-bottom: 70px;
       }
       .code_editor{
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 1200px;
        margin: auto;
        padding: 3%;
       }
       .code_editor h1{
        font-size: clamp(2.5rem, 5vw, 4rem);
        font-weight: 700;
        text-align: center;
        margin-bottom: 0;
       }
       .code_editor h4{
        font-size: clamp(1rem, 1.5vw, 1.25rem);
        font-weight: 400;
        text-align: center;
       }
       .code_editor img{
        width: 100%;
        align-self: center;
       }
       .code_editor button{
        align-self: flex-start;
        font-size: clamp(1rem, 1.5vw, 1.25rem);
        padding: 6px 18px;
        border-radius: 5px;
        border: none;
        line-height: 1.5;
       }
       .code_editor .btn1{
        background-color: #04AA6D;
        color: white;
       }
       .code_editor .btn1:hover{
        background-color: #079c65;
       }
       .code_editor .btn2{
        background-color: #fff080;
        color: black;
       }
       .code_editor .btn2:hover{
        background-color: #e3d673;
       }

       .w3spaces h3{
        text-align: center;
       }

       .plus_user ul{
        
        list-style: none;
        text-align: center;
        margin: auto;
       }
       .plus_user ul li{
        font-size: 20px;
        line-height: 36px;
        text-align: left;
        list-style-type: none;
       }
       .plus_user ul li img{
        height: 16px;
        width: auto;
        margin-right: 15px;
       }




       .footer_wrapper{
        width: 100%;
        background-color:#282A35;
        color: white;
       }
       .footer_container{
        max-width: 1200px;
        margin: auto;
        padding: 40px 80px 20px 80px;
        display: flex;
        flex-direction: column;
        align-items: space-between;
        gap: 30px;
       }
       .footer_top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
       }
       .footer_top a{
        text-decoration: none;
        color: #FFF4A3;
        font-size: 15px;
        line-height: 1.5;
        font-weight: 500;
       }
       .footer_top a:hover{
        text-decoration: underline;
        cursor: pointer;
       }

       .footer_mid{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
       }
       .footer_mid_col{
        display: flex;
        flex-direction: column;
       }
       .footer_mid_col h5{
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        color: #ddd;
        line-height: 15px;
       }
       .footer_mid_col a{
        text-align: center;
        font-size: 12px;
        color: #ddd;
        line-height: 15px;
       }
       .footer_mid_col a:hover{
        color: #FFF4A3;
        cursor: pointer;
       }
       .footer_bottom{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #ddd;
       }
       .footer_bottom_top {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
       }
       .footer_bottom_top a{
        line-height: 10px;
        font-size: 15px;
        font-weight: 500;
       }
       .footer_bottom_top a:hover{
        color: #FFF4A3;
        text-decoration: underline;
        cursor: pointer;
       }
       .footer_bottom_mid , .footer_bottom_bot{
        line-height: 15px;
        font-size: 12px;
        
       }
       .footer_bottom_mid p{
        text-align: center;
       }
       .footer_bottom_mid a , .footer_bottom_bot a{
        text-decoration: underline;
       }
       .footer_bottom_mid a:hover{
        color: #FFF4A3;
        cursor: pointer;
       }
       .footer_bottom_bot a:hover{
        color: #FFF4A3;
        cursor: pointer;
       }
       @media (max-width:990px) {
        .footer_top{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .footer_mid{
            flex-direction: column;
            justify-content: center;
        }
       }

